@model IEnumerable<Sanakirja.Models.Sanasto>
@{
    ViewBag.Title = "Index";
}
<h2>Sanasto</h2>

<a href="@Url.Action("Create", "Sanasto")" class="btn btn-outline-secondary">Lisää uusi termi</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Sanasto ID</th>
            <th>Termi suomeksi</th>
            <th>Termi englanniksi</th>
            <th>Selite</th>
            <th>Linkki videoon</th>
            <th>Liittyvät termit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sanakirja.Models.Sanasto termi in Model)
        {
            <tr>
                <td>@termi.SanastoId</td>
                <td>@termi.SuomiTermi</td>
                <td>@termi.EnglantiTermi</td>
                <td>@termi.Selite</td>
                <td>@termi.VideoLink</td>
                <td>@termi.LiittyvatTermit</td>
                <td>
                    <a href="@Url.Action("Update", "Sanasto", new { id = termi.SanastoId })" class="btn btn-secondary">Muokkaa</a> 
                    <a href="@Url.Action("Delete", "Sanasto", new { id = termi.SanastoId })" class="btn btn-outline-secondary">Poista</a>
                </td>
            </tr>

    }
        </tbody>
    </table>


