@model IEnumerable<Sanakirja.Models.Sanasto>
@{
    ViewBag.Title = "Index";
}
<h2>Sanasto</h2>

<!--Hakukenttä-->
<form method="get" action="/Sanasto/Search">
    <div class="input-group">
        <input type="text" name="searchTerm" class="form-control rounded" placeholder="Hakusana">
        <button type="submit" class="btn btn-outline-primary">Hae</button>
    </div>
</form>

<!--Uusi termi-->
<a href="@Url.Action("Create", "Sanasto")" class="btn btn-outline-secondary">Lisää uusi termi</a>

<!--Termien Lista-->
<table class="table table-hover">
    <thead>
        <tr>
            <th>Sanasto ID</th>
            <th>Termi suomeksi</th>
            <th>Termi englanniksi</th>
            <th>Selite</th>
            <th>Linkki videoon</th>
            <th>Liittyvät termit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sanakirja.Models.Sanasto termi in Model)
        {
        <tr>
            <td>@termi.SanastoId</td>
            <td>@termi.SuomiTermi</td>
            <td>@termi.EnglantiTermi</td>
            <td>@termi.Selite</td>
            <td>@termi.VideoLink</td>
            <td>@termi.LiittyvatTermit</td>
            <td>
                <a href="@Url.Action("Update", "Sanasto", new { id = termi.SanastoId })" class="btn btn-secondary">Muokkaa</a>
                <a href="@Url.Action("Delete", "Sanasto", new { id = termi.SanastoId })" class="btn btn-outline-secondary">Poista</a>
            </td>
        </tr>

    }
    </tbody>
</table>


