@model IEnumerable<Sanakirja.Models.Sanasto>
@{
    ViewBag.Title = "Etusivu";
}

<main>
    <!--Hakupalkki-->
    <section class="border rounded-2" id="hakupalkki" aria-labelledby="hakupalkki">
        <br>
        <div class="input-group col-md-12 d-flex row" align="center">
            <div class="col-md-4 d-flex justify-content-center">
                <form method="get" action="/Home/Search">
                    <div class="input-group">
                        <input type="text" name="searchTerm" class="form-control rounded" placeholder="Hakusana" value="@ViewBag.SearchTerm" autocomplete="off">
                        <button type="submit" class="btn btn-outline-primary" id="haku">Hae</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" id="lisaatermi">Lisää termi</button>
            </div>
        </div>
        <br>
        <!--Aakkospainikkeet-->
        <div class="btn-group-horizontal" id="aakkosmenu" align="center">
            <button type="button" id="a" class="btn btn-primary">A</button>
            <button type="button" id="b" class="btn btn-primary">B</button>
            <button type="button" id="c" class="btn btn-primary">C</button>
            <button type="button" id="d" class="btn btn-primary">D</button>
            <button type="button" id="e" class="btn btn-primary">E</button>
            <button type="button" id="f" class="btn btn-primary">F</button>
            <button type="button" id="g" class="btn btn-primary">G</button>
            <button type="button" id="h" class="btn btn-primary">H</button>
            <button type="button" id="i" class="btn btn-primary">I</button>
            <button type="button" id="j" class="btn btn-primary">J</button>
            <button type="button" id="k" class="btn btn-primary">K</button>
            <button type="button" id="l" class="btn btn-primary">L</button>
            <button type="button" id="m" class="btn btn-primary">M</button>
            <button type="button" id="n" class="btn btn-primary">N</button>
            <button type="button" id="o" class="btn btn-primary">O</button>
            <button type="button" id="p" class="btn btn-primary">P</button>
            <button type="button" id="q" class="btn btn-primary">Q</button>
            <button type="button" id="r" class="btn btn-primary">R</button>
            <button type="button" id="s" class="btn btn-primary">S</button>
            <button type="button" id="t" class="btn btn-primary">T</button>
            <button type="button" id="u" class="btn btn-primary">U</button>
            <button type="button" id="v" class="btn btn-primary">V</button>
            <button type="button" id="w" class="btn btn-primary">W</button>
            <button type="button" id="x" class="btn btn-primary">X</button>
            <button type="button" id="y" class="btn btn-primary">Y</button>
            <button type="button" id="z" class="btn btn-primary">Z</button>
            <button type="button" id="å" class="btn btn-primary">Å</button>
            <button type="button" id="ä" class="btn btn-primary">Ä</button>
            <button type="button" id="ö" class="btn btn-primary">Ö</button>
        </div>
        <br>
    </section>
    <br>
    <!--Hakutulokset-->
    <section class="border rounded-2" id="hakutulokset" aria-labelledby="hakutulokset">
        <br>
        <div class="col-md-12 row" align="center">
            <h2>Hakutulokset</h2>
        </div>
        <div class="col-md-12 row" align="center">
            <div id="accordion">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-bs-toggle="collapse" href="#collapse_@item.SanastoId">
                                <form>
                                    <div class="input-group row col-md-12">
                                        <div class="input-group-text col-md-6"><h5>@item.SuomiTermi</h5></div>
                                        <div class="input-group-text col-md-6"><h5>@item.EnglantiTermi</h5></div>
                                    </div>
                                </form>
                            </a>
                        </div>
                        <div id="collapse_@item.SanastoId" class="accordion-collapse collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-striped col-md-12">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Selite</th>
                                            <th class="col-md-2">Liittyvät termit</th>
                                            <th class="col-md-5">Video</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-5">@item.Selite</td>
                                            <td class="col-md-2">
                                                @if (item.LiittyvatTermit != null)
                                                {
                                                    string[] termitList = item.LiittyvatTermit.Split(',');
                                                    foreach (string i in termitList)
                                                    {
                                                        <button type="button" class="btn btn-outline-primary">
                                                           <a href="~/Home/Search?searchTerm=@i" id="@i">@i</a>
                                                        </button>
                                                    }
                                                }
                                            </td>
                                            <td class="col-md-5">
                                                @if (item.VideoLink != null)
                                                {
                                                    <div class="col-lg-5 embed-responsive embed-responsive-16by9">
                                                        <iframe src="@item.VideoLink" width="530" height="300"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                                                        </iframe>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br>
    </section>
</main>