@model PagedList.IPagedList<Sanakirja.Models.Sanasto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Etusivu";
}

<main>
    <!--Hakupalkki-->
    <section class="border rounded-2" id="hakupalkki" aria-labelledby="hakupalkki">
    <br>  
        <div class="input-group col-md-12 d-flex row" align="center">
            <div class="col-md-4 d-flex justify-content-center">
                <form method="get" action="/Home/Search">
                    <div class="input-group">
                        <input type="text" name="searchTerm" class="form-control rounded" placeholder="Hakusana" value="@ViewBag.currentFilter1" autocomplete="off">
                        <button type="submit" class="btn btn-outline-primary" id="haku">Hae</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <!--Aakkospainikkeet-->
        <div class="btn-group-horizontal" id="aakkosmenu" align="center">
            @{
                string[] aakkoset = { "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "Å", "Ä", "Ö" };
                foreach (string a in aakkoset)
                {
                <button type="button" class="btn btn-outline-primary">
                    <a href="~/Home/Search?searchTerm=@a" id="@a">@a</a>
                </button>
                }
            }
        </div>
        <br>
    </section>
    <br>
    <!--Hakutulokset-->
    <section class="border rounded-2" id="hakutulokset" aria-labelledby="hakutulokset">
        <br>
        <div class="col-md-12 row" align="center">
            <h4>Hakutulokset</h4>
        </div>
        <br>
        <div class="col-md-12 row" align="center">
            <div id="accordion">
                    <div class="input-group row" id="termi-otsikko">

                        <div class="input-group-text col-md-6"><h5>Termi Suomeksi</h5></div>

                        <div class="input-group-text col-md-6"><h5>Termi englanniksi</h5></div>
                    </div>
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-bs-toggle="collapse" href="#collapse_@item.SanastoId">
                                <form>
                                    <div class="input-group row col-md-12">

                                        <div class="input-group-text col-md-6"><h7>@item.SuomiTermi</h7></div>

                                        <div class="input-group-text col-md-6"><h7>@item.EnglantiTermi</h7></div>
                                    </div>
                                </form>
                            </a>
                        </div>
                        <div id="collapse_@item.SanastoId" class="accordion-collapse collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-striped col-md-12">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Selite</th>
                                            <th class="col-md-2">Liittyvät termit</th>
                                            <th class="col-md-5">Video</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-5">@item.Selite</td>
                                            <td class="col-md-2">
                                                @if (item.LiittyvatTermit != null)
                                                {
                                                    string[] termitList = item.LiittyvatTermit.Split(',');
                                                    foreach (string i in termitList)
                                                    {
                                                        <button type="button" class="btn btn-outline-primary">
                                                            <a href="~/Home/Search?searchTerm=@i" id="@i">@i</a>
                                                        </button>
                                                    }
                                                }
                                            </td>
                                            <td class="col-md-5">
                                                @if (item.VideoLink != null)
                                                {
                                                    <div class="col-lg-5 embed-responsive embed-responsive-16by9">
                                                        <iframe src="@item.VideoLink" width="530" height="300"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                                                        </iframe>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--Sivutuspainikkeet-->
        <br>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter1 = ViewBag.currentFilter1 }))
    </section>
</main>